<?xml version="1.0"?>

<model>
  <name>platform</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Thijs Hof</name>
    <email>450919@student.saxion.nl</email>
  </author>

  <description>
    A platform that can be lifted by an AGV.
  </description>

</model>
